POSTGRES_ADMIN_USER=airflow
POSTGRES_ADMIN_PASSWORD=change_me
POSTGRES_ADMIN_DB=airflow
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=ap-south-1

S3_BUCKET_NAME=dataforge-lake

AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_FIRSTNAME=Admin
AIRFLOW_ADMIN_LASTNAME=User
AIRFLOW_ADMIN_EMAIL=admin@example.com
AIRFLOW_ADMIN_PASSWORD=change_me

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change_me

HIVE_METASTORE_DB=metastore
HIVE_METASTORE_USER=hiveuser
HIVE_METASTORE_PASSWORD=change_me

HUE_DB_NAME=hue
HUE_DB_USER=hueuser
HUE_DB_PASSWORD=change_me
HUE_SECRET_KEY=change_me
